In [3]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
sueldos=pd.read_csv('datasets/argentina_sueldos.csv', sep= ';', engine='python')

In [3]:
sueldos.head(20)

,Me identifico,Tengo,Años de experiencia,Años en la empresa actual,Años en el puesto actual,¿Gente a cargo?,Nivel de estudios alcanzado,Estado,¿Contribuís a proyectos open source?,¿Programás como hobbie?,...,Tipo de contrato,Salario mensual BRUTO (en tu moneda local),Salario mensual NETO (en tu moneda local),¿Qué tan conforme estás con tu sueldo?,Cómo creés que está tu sueldo con respecto al último semestre,Orientación sexual,Cantidad de empleados,¿La recomendás como un buen lugar para trabajar?,¿Cómo calificás las políticas de diversidad e inclusión?,¿A cuántos kilómetros de tu casa queda la oficina?
0,Otros,17,0,0,0,0,Primario,Incompleto,No,Sí,...,Tercerizado (trabajo a través de consultora o ...,1,1.0,1,1,NaN,101-200,1.0,1.0,-1.0
1,Hombre,36,16,10,4,3,Universitario,Completado,Sí,Sí,...,Full-Time,40000,37000.0,2,1,NaN,1-10,5.0,5.0,10.0
2,Hombre,45,17,1,1,0,Universitario,Incompleto,No,Sí,...,Full-Time,67000,50000.0,1,1,NaN,101-200,1.0,5.0,2.0
3,Hombre,37,12,6,6,0,Universitario,Completado,No,Sí,...,Full-Time,50000,40000.0,1,1,NaN,501-1000,4.0,1.0,3.0
4,Hombre,33,12,6,2,0,Universitario,Completado,No,Sí,...,Full-Time,67700,53000.0,3,2,NaN,101-200,9.0,9.0,9.0
5,Hombre,23,4,2,2,0,Secundario,En curso,No,Sí,...,Full-Time,27000,20500.0,2,2,NaN,1-10,4.0,4.0,4.0
6,Hombre,33,13,0,0,0,Universitario,Incompleto,Sí,Sí,...,Full-Time,147150,99839.0,4,3,NaN,2001-5000,8.0,6.0,6.0
7,Hombre,40,15,1,1,0,Posgrado,Incompleto,No,No,...,Full-Time,100000,68000.0,3,3,NaN,201-500,10.0,10.0,2.0
8,Hombre,24,2,1,1,0,Terciario,En curso,No,No,...,Tercerizado (trabajo a través de consultora o ...,21000,19000.0,2,1,NaN,1001-2000,1.0,1.0,5.0
9,Hombre,37,20,1,1,0,Universitario,Incompleto,No,Sí,...,Full-Time,54000,54000.0,1,2,NaN,501-1000,8.0,8.0,50.0
10,Hombre,29,9,0,3,0,Universitario,Completado,Sí,Sí,...,Full-Time,123000,90000.0,3,4,NaN,201-500,10.0,10.0,20.0
11,Hombre,28,10,1,1,3,Universitario,Incompleto,No,Sí,...,Full-Time,83000,60000.0,3,2,NaN,2001-5000,10.0,10.0,25.0
12,Hombre,29,8,1,1,0,Universitario,Completado,Sí,Sí,...,Full-Time,135184,81501.0,4,4,NaN,101-200,8.0,8.0,116.0
13,Hombre,35,16,2,2,11,Universitario,Completado,Sí,Sí,...,Full-Time,165000,101000.0,4,4,NaN,11-50,10.0,8.0,4.0
14,Hombre,32,8,0,1,0,Terciario,Incompleto,No,No,...,Tercerizado (trabajo a través de consultora o ...,54000,43150.0,2,2,NaN,501-1000,6.0,5.0,3.0
15,Hombre,29,8,1,1,2,Universitario,Incompleto,No,Sí,...,Remoto (empresa de otro país),332200,225500.0,4,4,NaN,1-10,10.0,3.0,-1.0
16,Hombre,29,8,1,5,0,Universitario,Incompleto,Sí,Sí,...,Remoto (empresa de otro país),330000,330000.0,4,4,NaN,11-50,9.0,5.0,-1.0
17,Hombre,28,10,0,0,0,Universitario,Incompleto,No,Sí,...,Remoto (empresa de otro país),216000,NaN,4,4,NaN,101-200,7.0,4.0,-1.0
18,Hombre,41,10,6,6,0,Universitario,Incompleto,No,No,...,Full-Time,66000,49500.0,3,2,NaN,101-200,6.0,8.0,-1.0
19,Hombre,27,2,0,0,0,Terciario,En curso,No,Sí,...,Freelance,37600,37600.0,3,3,NaN,1-10,8.0,5.0,-1.0

In [4]:
sueldos.describe()

,Tengo,Años de experiencia,Años en la empresa actual,Años en el puesto actual,¿Gente a cargo?,Salario mensual BRUTO (en tu moneda local),Salario mensual NETO (en tu moneda local),¿Qué tan conforme estás con tu sueldo?,Cómo creés que está tu sueldo con respecto al último semestre,¿La recomendás como un buen lugar para trabajar?,¿Cómo calificás las políticas de diversidad e inclusión?,¿A cuántos kilómetros de tu casa queda la oficina?
count,2751.000000,2751.000000,2751.000000,2751.000000,2751.000000,2.751000e+03,2.630000e+03,2751.000000,2751.000000,2748.000000,2748.000000,2748.000000
mean,32.818248,9.468557,15.259178,3.272265,1.792439,9.402921e+04,7.073692e+04,2.573610,2.323155,7.006186,7.369360,14.318413
std,21.853056,7.488440,610.058026,5.430121,6.143984,5.372581e+05,3.387270e+05,0.844414,0.922391,2.147025,2.402379,27.502168
min,16.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,-1.000000
25%,27.000000,4.000000,1.000000,1.000000,0.000000,3.500000e+04,3.000000e+04,2.000000,2.000000,6.000000,6.000000,4.000000
50%,31.000000,8.000000,2.000000,2.000000,0.000000,5.300000e+04,4.200000e+04,3.000000,2.000000,7.000000,8.000000,8.000000
75%,37.000000,13.000000,5.000000,4.000000,1.000000,7.541550e+04,5.796500e+04,3.000000,3.000000,8.000000,9.000000,20.000000
max,1111.000000,135.000000,32000.000000,135.000000,100.000000,2.187116e+07,8.890169e+06,4.000000,4.000000,10.000000,10.000000,675.000000

In [5]:
sueldos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2751 entries, 0 to 2750
Data columns (total 24 columns):
Me identifico                                                    2751 non-null object
Tengo                                                            2751 non-null int64
Años de experiencia                                              2751 non-null int64
Años en la empresa actual                                        2751 non-null int64
Años en el puesto actual                                         2751 non-null int64
¿Gente a cargo?                                                  2751 non-null int64
Nivel de estudios alcanzado                                      2751 non-null object
Estado                                                           2751 non-null object
¿Contribuís a proyectos open source?                             2751 non-null object
¿Programás como hobbie?                                          2751 non-null object
Lenguajes de programación                                        2230 non-null object
Bases de datos                                                   2038 non-null object
¿Qué SO usás en tu laptop/PC para trabajar?                      2751 non-null object
¿Y en tu celular?                                                2751 non-null object
Tipo de contrato                                                 2751 non-null object
Salario mensual BRUTO (en tu moneda local)                       2751 non-null int64
Salario mensual NETO (en tu moneda local)                        2630 non-null float64
¿Qué tan conforme estás con tu sueldo?                           2751 non-null int64
Cómo creés que está tu sueldo con respecto al último semestre    2751 non-null int64
Orientación sexual                                               2648 non-null object
Cantidad de empleados                                            2748 non-null object
¿La recomendás como un buen lugar para trabajar?                 2748 non-null float64
¿Cómo calificás las políticas de diversidad e inclusión?         2748 non-null float64
¿A cuántos kilómetros de tu casa queda la oficina?               2748 non-null float64
dtypes: float64(4), int64(8), object(12)
memory usage: 386.9+ KB

# Tomar una variable categorica y analizarla

Vamos a tomar una variable, hacer un dataframe que sea la conversión en one-hot y luego vamos a filtrar las columnas que tengan un mínimo de entradas.

In [6]:
sex_or=sueldos["Orientación sexual"].str.get_dummies()
sex_or.head()

,Asexual,Bisexual o queer,Contra Hegemónico,Cualquier esta preg para una encuesta salarial,De todo...,Ente,Es irrelevante para la encuesta,Heterosexual,Homosexual,Humane,...,Ya dejense de joder,demasiadas,lesbiana,ni idea,no les interesa,no te importa,paidófilo,papa,política,que te importa
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
sex_or.sum(axis=0)

Asexual                                              1
Bisexual o queer                                    91
Contra Hegemónico                                    1
Cualquier esta preg para una encuesta salarial       1
De todo...                                           1
Ente                                                 1
Es irrelevante para la encuesta                      1
Heterosexual                                      2435
Homosexual                                          88
Humane                                               1
Irrelevante para esta encuesta                       1
Jajaja khe es esta pregunta men                      1
Misoginia                                            1
N                                                    1
NS/NC                                                1
No es pertinente                                     1
Pansexual                                            3
Pansexual Queer                                      2
Por qué es importante esto?                          1
Que te importa                                       1
Qué tiene que ver con una encuesta de sueldo?        1
Sbdhd                                                1
Todes                                                1
What?                                                1
Ya dejense de joder                                  1
demasiadas                                           1
lesbiana                                             1
ni idea                                              1
no les interesa                                      1
no te importa                                        1
paidófilo                                            1
papa                                                 1
política                                             1
que te importa                                       1
dtype: int64

## Seleccionamos las columnas que tengan como mínimo 10 entradas por columna

In [8]:
sex_or.sum(axis=0)[sex_or.sum(axis=0)>1]

Bisexual o queer      91
Heterosexual        2435
Homosexual            88
Pansexual              3
Pansexual Queer        2
dtype: int64

## Creamos una lista que tenga los nombres

In [9]:
keep=sex_or.sum(axis=0)[sex_or.sum(axis=0)>1]

In [10]:
keep.index

Index(['Bisexual o queer', 'Heterosexual', 'Homosexual', 'Pansexual',
       'Pansexual Queer'],
      dtype='object')

In [11]:
sex_or[keep.index].head()

   Bisexual o queer  Heterosexual  Homosexual  Pansexual  Pansexual Queer
0                 0             0           0          0                0
1                 0             0           0          0                0
2                 0             0           0          0                0
3                 0             0           0          0                0
4                 0             0           0          0                0

In [12]:
sueldos.dtypes == object

Me identifico                                                     True
Tengo                                                            False
Años de experiencia                                              False
Años en la empresa actual                                        False
Años en el puesto actual                                         False
¿Gente a cargo?                                                  False
Nivel de estudios alcanzado                                       True
Estado                                                            True
¿Contribuís a proyectos open source?                              True
¿Programás como hobbie?                                           True
Lenguajes de programación                                         True
Bases de datos                                                    True
¿Qué SO usás en tu laptop/PC para trabajar?                       True
¿Y en tu celular?                                                 True
Tipo de contrato                                                  True
Salario mensual BRUTO (en tu moneda local)                       False
Salario mensual NETO (en tu moneda local)                        False
¿Qué tan conforme estás con tu sueldo?                           False
Cómo creés que está tu sueldo con respecto al último semestre    False
Orientación sexual                                                True
Cantidad de empleados                                             True
¿La recomendás como un buen lugar para trabajar?                 False
¿Cómo calificás las políticas de diversidad e inclusión?         False
¿A cuántos kilómetros de tu casa queda la oficina?               False
dtype: bool

In [13]:
sueldos.dtypes[sueldos.dtypes == object]

Me identifico                                  object
Nivel de estudios alcanzado                    object
Estado                                         object
¿Contribuís a proyectos open source?           object
¿Programás como hobbie?                        object
Lenguajes de programación                      object
Bases de datos                                 object
¿Qué SO usás en tu laptop/PC para trabajar?    object
¿Y en tu celular?                              object
Tipo de contrato                               object
Orientación sexual                             object
Cantidad de empleados                          object
dtype: object

In [14]:
sueldos.dtypes[sueldos.dtypes == object].index

Index(['Me identifico', 'Nivel de estudios alcanzado', 'Estado',
       '¿Contribuís a proyectos open source?', '¿Programás como hobbie?',
       'Lenguajes de programación', 'Bases de datos',
       '¿Qué SO usás en tu laptop/PC para trabajar?', '¿Y en tu celular?',
       'Tipo de contrato', 'Orientación sexual', 'Cantidad de empleados'],
      dtype='object')

In [15]:
sueldos["Lenguajes de programación"]

0                                                     NaN
1       .NET, C, C++, C#, CSS, HTML, Javascript, PHP, ...
2                            Java, Javascript, TypeScript
3                              CSS, HTML, Javascript, PHP
4                                   HTML, Javascript, PHP
                              ...
2746                           CSS, HTML, Java, Ruby, SQL
2747                                                  NaN
2748                     C#, Javascript, Python, SQL, VBA
2749                                          PHP, Python
2750    Bash/Shell, CSS, HTML, Javascript, Python, SQL...
Name: Lenguajes de programación, Length: 2751, dtype: object

In [16]:
#[len(str(c).split(',')) for c in sueldos["Lenguajes de programación"]]

In [17]:
sueldos["Lenguajes de programación"]=[str(c).split(',') for c in sueldos["Lenguajes de programación"]]

In [18]:
sueldos["Bases de datos"]=[str(c).split(',') for c in sueldos["Bases de datos"]]

In [19]:
sueldos_nuevo=sueldos[sueldos.dtypes[sueldos.dtypes != object].index]
sueldos_nuevo.head()

,Tengo,Años de experiencia,Años en la empresa actual,Años en el puesto actual,¿Gente a cargo?,Salario mensual BRUTO (en tu moneda local),Salario mensual NETO (en tu moneda local),¿Qué tan conforme estás con tu sueldo?,Cómo creés que está tu sueldo con respecto al último semestre,¿La recomendás como un buen lugar para trabajar?,¿Cómo calificás las políticas de diversidad e inclusión?,¿A cuántos kilómetros de tu casa queda la oficina?
0,17,0,0,0,0,1,1.0,1,1,1.0,1.0,-1.0
1,36,16,10,4,3,40000,37000.0,2,1,5.0,5.0,10.0
2,45,17,1,1,0,67000,50000.0,1,1,1.0,5.0,2.0
3,37,12,6,6,0,50000,40000.0,1,1,4.0,1.0,3.0
4,33,12,6,2,0,67700,53000.0,3,2,9.0,9.0,9.0

In [20]:
entradas_min_col=10
for c in sueldos.columns:
    if c in sueldos.dtypes[sueldos.dtypes == object]:
        if (c != "Lenguajes de programación") and (c != "Bases de datos"):
            print(c)
            obj_df=sueldos[c].str.get_dummies()
        else:
            print(c)
            obj_df=pd.get_dummies(sueldos[c].apply(pd.Series).stack()).sum(level=0)
        keep=obj_df.sum(axis=0)[obj_df.sum(axis=0)>1].index
        obj_df=obj_df[keep]
        sueldos_nuevo=pd.concat([sueldos_nuevo,obj_df],axis=1)

Me identifico
Nivel de estudios alcanzado
Estado
¿Contribuís a proyectos open source?
¿Programás como hobbie?
Lenguajes de programación
Bases de datos
¿Qué SO usás en tu laptop/PC para trabajar?
¿Y en tu celular?
Tipo de contrato
Orientación sexual
Cantidad de empleados

In [26]:
for col in sueldos_nuevo.columns: 
    print(col)

Tengo
Años de experiencia
Años en la empresa actual
Años en el puesto actual
¿Gente a cargo?
Salario mensual BRUTO (en tu moneda local)
Salario mensual NETO (en tu moneda local)
¿Qué tan conforme estás con tu sueldo?
Cómo creés que está tu sueldo con respecto al último semestre
¿La recomendás como un buen lugar para trabajar?
¿Cómo calificás las políticas de diversidad e inclusión?
¿A cuántos kilómetros de tu casa queda la oficina?
Hombre
Mujer
Otros
Doctorado
Posdoctorado
Posgrado
Secundario
Terciario
Universitario
Completado
En curso
Incompleto
No
Sí
No
Sí
 ABAP
 ActionScript
 Assembler
 Bash/Shell
 C
 C#
 C++
 CSS
 Cobol
 Dart
 Delphi
 Elixir
 Erlang
 Go
 Groovy
 HTML
 Java
 Javascript
 Kotlin
 Lua
 Matlab
 Objective-C
 PHP
 PL/SQL
 Perl
 Powershell
 Powershell
 Python
 Qlikview
 R
 Ruby
 Rust
 SQL
 Scala
 Smalltalk
 Solidity
 Swift
 TypeScript
 VB.Net
 VB6
 VBA
 XML
.NET
ABAP
ActionScript
Assembler
Bash/Shell
C
C#
C++
CSS
Cobol
Go
Groovy
HTML
Java
Javascript
Kotlin
Ninguna
Ninguno
Objective-C
PHP
Powershell
Python
R
Rexx
Ruby
SQL
Scala
Smalltalk
Swift
TypeScript
VBA
nan
 Amazon RDS/Aurora
 Amazon Redshift
 Apache HBase
 Apache Hive
 Cassandra
 CosmosDB
 ElasticSearch
 Google Cloud Storage
 HANA
 IBM Db2
 Informix
 MSSQL
 MariaDB
 Microsoft Azure (Tables
 Microsoft SQL Server
 MongoDB
 MySQL
 Neo4j
 Oracle
 Percona Server
 Percona XtraBackup
 Percona XtraDB Cluster
 PostgreSQL
 ProxySQL
 Realm
 Redis
 SOLR
 SQL
 SQL Server
 SQLite
 Solr
 Sybase
 Teradata
 etc)
 sybase
Aerospike
Amazon DynamoDB
Amazon RDS/Aurora
Amazon Redshift
Apache HBase
Apache Hive
Cassandra
ElasticSearch
Gemstone
Google Cloud Storage
IBM Db2
Informix
MSSQL
MariaDB
Microsoft Azure (Tables
MongoDB
MySQL
Neo4j
Ninguna
Ninguno
Oracle
PostgreSQL
ProxySQL
Redis
SAP HANA
SQL Server
SQLite
Sybase
Teradata
nan
Linux
Mac OS X
Windows
Android
No tengo celular / no es Smartphone
Windows
iOS
Freelance
Full-Time
Part-Time
Remoto (empresa de otro país)
Tercerizado (trabajo a través de consultora o agencia)
Bisexual o queer
Heterosexual
Homosexual
Pansexual
Pansexual Queer
1-10
10001+
1001-2000
101-200
11-50
2001-5000
201-500
5001-10000
501-1000
51-100